.actions-list {
  padding: 1rem;
}

.actions-filter {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 1rem;
  gap: 0.5rem;

  border-bottom: 1px solid var(--color-gray-light);
  padding-bottom: 1rem;
}

.actions-filter__group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label-priority--low {
  color: var(--color-blue);
}

.label-priority--medium {
  color: var(--color-orange);
}

.label-priority--high {
  color: var(--color-red);
}

.actions-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action-list__item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.5rem;
  padding: 0.5rem;
  /* border-bottom: 1px solid var(--color-gray-light); */
}

.action-list__title {
  flex-grow: 1;
}