/*
--------------------------------------------------------------------------------
PRIMITIVES
--------------------------------------------------------------------------------
*/

:root {

  /* Semantics - Light Mode */
  --base: var(--color-white);
  --text: var(--color-black);
  --success: var(--color-green);
  --error: var(--color-red);

  /* Accessibility */
  --focus-ring: yellow;
}

/*
--------------------------------------------------------------------------------
SEMANTICS - DARK MODE
--------------------------------------------------------------------------------
*/


@media (prefers-color-scheme: dark) {
  :root {
    /* Semantics - Dark Mode */
    --base: var(--color-black);
    --text: var(--color-white);
  }
}
