.sidebar {
  width: 260px;
  border-right: 1px solid var(--border-base);
}

.sidebar__stacks {
  list-style: none;
  padding: 0;
}

.active {
  color: brown;
  text-transform: capitalize;
  font-weight: bold;
}
