/*
- 👋 The Layout Container / Basic responsive container for layout
- ✅ The Stack / Vertical rhythm of items in a box
- ✅ The Box / Basic box padding
- ✅ The Cluster / Groups of similar elements
- 👋 The Sandwich / Vertical layout container
- 👨‍🔧 The Sidebar / Flex based responsive sidebar
- 👨‍🔧 The Switcher / Easy switch between horizontal and vertical layouts
- ✅ The Cover / Hero area layout
- ✅ The Grid / Simple layout of grid items
- ✅ The Frame / Image aspect ratio control
- ✅ The Reel / Overflow containers for horizontal scrolling
- ✅ The Imposter / Absolute positioned element
- ✅ The Icon / Icon container
*/

/*
================================================================================
THE STACK
================================================================================
*/



/*
================================================================================
THE CLUSTER
================================================================================
*/

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
  justify-content: flex-start;
  align-items: center;
}

/* ===== JUSTIFICATION VARIANTS ===== */
.cluster--space {
  justify-content: space-between;
}

.cluster--center {
  justify-content: center;
}

.cluster--end {
  justify-content: flex-end;
}
