.label-priority--1 {
  color: var(--color-blue);
}

.label-priority--2 {
  color: var(--color-orange);
}

.label-priority--3 {
  color: var(--color-red);
}

.actions-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action-list__item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.5rem;
  padding: 0.5rem;
  /* border-bottom: 1px solid var(--color-gray-light); */
}

.action-list__name {
  flex-grow: 1;
}
