.label-priority--1 {
  color: var(--color-blue);
}

.label-priority--2 {
  color: var(--color-orange);
}

.label-priority--3 {
  color: var(--color-red);
}

.actions-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: var(--space-xs);
  padding: var(--space-md);
  /* border-bottom: 1px solid var(--color-gray-light); */
  border: 2px solid var(--border-faint);
  border-radius: var(--border-radius-lg);
}

.action-item__name {
  flex-grow: 1;
}
