.stack-list {
  padding: 1rem;
}

.stack-filter {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 1rem;
  gap: 0.5rem;

  border-bottom: 1px solid var(--border-faint);
  padding-bottom: 1rem;
}

.stack-filter__group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stack-list__empty {
}
.stack-list__summary {
}
