/*
--------------------------------------------------------------------------------
FOUNDATIONS
--------------------------------------------------------------------------------
*/

:root {
  /* Typography */
  font-family: var(--ff-default);
  font-size: var(--fs-base);
  line-height: var(--lh-default);
  font-weight: var(--fw-regular);

  /* Colors (default to dark theme) */
  color: var(--content-base);
  background-color: var(--surface-page);

  /* Color theme transition */
  transition: var(--theme-transition);

  /*
    When clicking an anchor link (#section)
    the browser scrolls too far up
    Adding scroll-padding-top prevents content from being cut off.
  */
  scroll-padding-top: 4rem;
  /* Adjust for fixed headers */

}

html {
  /* Enables native color-scheme awareness */
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  /* Prevent horizontal scroll due to full-width elements */
  overflow-x: hidden;
}
